.especialidades{
    margin: var(--margin-section);
    background-color: var(--color-secundario);
}
.especialidades-header{
    width: 70%;
    text-align: center;
    margin: 35px auto;
    padding: 25px 15px 0 15px;
    color: var(--color-texto);
}
.especialidades-header h2{
    font-family: var(--font-principal);
    font-size: 33px;
    margin-bottom: 10px;
    border-left: 3px solid var(--color-destacar);
    width: fit-content;
    margin: 10px auto ;
    padding-left:15px;
}
.especialidades-header p{
    font-family: var(--font-secundaria);
}
.especialidad{
    display: flex;
    height: 500px;
}
.especialidad-figure-tablet{
    display: none;
}
.especialidad figure{
    width: 55%;
    height: 100%;
    overflow: hidden;
}
.especialidad-urologia-img, .especialidad-sexologia-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.especialidad-sexologia-img{
    object-position: bottom;
}
.especialidad-contenido{
    width: 45%;
    padding: 25px 40px;
    color: var(--color-texto);
    background-color: var(--color-principal);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 15px;
}
.especialidad-contenido h3 {
    font-family: var(--font-principal);
    font-size: 28px;
}
.especialidad-contenido p {
    font-family: var(--font-secundaria);
}
.especialidad-lista{
    margin-left: 25px;
}
.especialidad-lista li{
    list-style: none;
    font-family: var(--font-secundaria);
    border-left: 3px solid var(--color-destacar);
    padding: 5px 10px;
    margin: 10px ;
}

@media screen and (max-width: 1050px) {
    .especialidad {
        height: 450px;
    }
    .especialidad-contenido {
        width: 45%;
        padding: 20px 30px;
        gap: 8px;
    }
    .especialidad-contenido h3 {
        font-size: 26px;
    }
    .especialidad-contenido p {
        font-size: 14px;
    }
    .especialidad-lista li {
        font-size: 14px;
    }
    .especialidades-header{
        width: 80%;
    }
    .especialidades-header h2{
        font-size: 30px;
    }
    .especialidades-header p{
        font-size: 15px;
    }
}

@media screen and (max-width: 850px) {

    
    .especialidad figure{
        width: 100%;
        height: 320px;
        overflow: hidden;
    }
    .especialidad{
        flex-direction: column;
        height: auto;
        width: 100%;
    }
    .sexologia{
        flex-direction: column-reverse;
    }
    .especialidad-contenido {
        width: 100%;
        padding: 40px 30px;
        gap: 15px;
    }
    .especialidad-contenido h3 {
        font-size: 28px;
    }
    .especialidad-contenido p {
        font-size: 15px;
    }
    .especialidad-lista {
        margin-left: 15px;
    }
    .especialidad-lista li {
        font-size: 15px;
    }
}
@media screen and (max-width: 500px) {
    .especialidad figure {
        height: 250px;
    }
}
@media screen and (max-width: 450px) {
    .especialidades-header{
        width: 90%;
        padding: 25px 5px 0 5px;
    }
    .especialidades-header h2{
        font-size: 28px;
    }
    .especialidades-header p{
        font-size: 14px;
    }
    .especialidad-lista {
        margin-left: 0;
    }
}
@media screen and (max-width: 350px) {
    .especialidades-header{
        width: 95%;
    }
    .especialidades-header h2{
        font-size: 26px;
    }
}
