.section-fondo{
    background-color: #223B4F;
}
.fondo{
    background-color: #223B4F;
    margin: var(--margin-section);
}

.faq {
    max-width: 1200px;
    margin: auto;
    padding: 2rem;
    color: #fff;
    background-color: #223B4F;
    border-radius: 10px;
    margin-bottom: 65px;
    align-items: center;
}

.faq-item-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    gap: 15px;
}

.h4-faq {
    width: fit-content;
    margin: auto;
    margin-bottom: 0.5rem;
    font-family: var(--font-principal);
    font-weight: 100;
    padding-left:  10px;
    color: white;
    font-size: 30px;
    font-weight: 100;
    border: none;
    border-left: 2px solid var(--color-destacar);
}

.faq-container-text p {
    width: 80%;
    text-align: center;
    margin: 30px auto 40px;
    font-size: 15px;
    font-family: var(--font-secundaria);
}

.faq-item {
    width: 60%;
    background: #fff;
    border-radius: 6px;
    overflow: hidden;
    border: 2px solid var(--color-destacar);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.faq-pregunta {
    width: 100%;
    padding: 1rem;
    background: #fff;
    color: #333;
    border: none;
    text-align: left;
    font-size: 18px;
    font-family: var(--font-principal);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-respuesta {
    max-height: 0;
    overflow: hidden;
    background: #fff;
    color: #333;
    padding: 0 1rem;
    font-family: var(--font-secundaria);
    transition: all 0.3s ease;
}

.faq-respuesta p {
    font-family: var(--font-secundaria);
    width: 100%;
    font-size: 15px;
    margin: 10px 0;
}

.img-flecha{
    width: 20px;
    height: 20px;
}

.faq-item.active .faq-respuesta {
    max-height: 500px;
}

.faq-item .flecha {
    transition: transform 0.3s ease;
}
.faq-item.active .flecha {
    transform: rotate(180deg);
}

/* QUERYS */
@media (max-width: 1100px) {
    .faq {
        width: 100%;
        height: auto;
        padding: 50px 20px;
    }
}

@media (max-width: 900px) {

    .faq-item-container {
        width: 100%;
    }

    .faq-pregunta {
        flex-wrap: nowrap;
        gap: 10px;
        font-size: 15px;
    }

    .faq-respuesta {
        font-size: 15px;
        word-break: break-word;
    }
}
@media (max-width:800px) {
    .faq-item{
        width: 70%;
    }
}

@media (max-width:700px) {
    .faq-item{
        width: 80%;
    }
}

@media (max-width:600px) {
    .h4-faq {
        font-size: 26px;
    }
    .faq-item{
        width: 95%;
    }
}
@media (max-width:500px) {
    .h4-faq {
        font-size: 23px;
    }
    .faq-container-text p {
        width: 100%;
        margin: 20px auto 40px;
    }
    .faq {
        padding: 50px 5px;
    }
}

@media (max-width: 470px){

    .h4-faq{
        font-size: 20px;
    }
    .faq p{
        font-size: 14px;
    }
}