.form-container{
    background-color: #5E7F79;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.iframe-div, .form-div{
    width: 50%;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.form-div{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.h4-form{
    border: none;
    border-left: 2px solid var(--color-destacar);
    padding-left: 10px;
    font-size: 22px;
    margin-bottom: 10px;
    font-family: var(--font-principal);
    color: white;
}

.textarea, .form-input{
    border: none;
    border-left: 2px solid var(--color-destacar);
    font-size: 14px;
    text-align: center;
    width: 400px;
    font-family: var(--font-secundaria);
    color: #fff;
}

.textarea {
    width: 100%;
    min-height: 140px;
    max-height: 140px;
    resize: vertical;
    box-sizing: border-box;
    padding: 12px;
    font-family: var(--font-secundaria);
    font-size: 14px;
    line-height: 1.2;
    background-color: #223B4F;
    color: #fff;
}


.form-input{
    background-color: #223B4F;
    height: 30px;
}
.form-iframe{
    height: 100%;
}

input::placeholder, textarea::placeholder {
    color: white;
}

.form-button{
    height: 35px;
    padding: 0;
    margin: 0;
    cursor: pointer;
    background-color: #223B4F;
    border-left: 2px solid var(--color-destacar);
    color: white;
    border-bottom: 0px;
    border-right: 0px;
    border-top: 0px;
    transition: all 0.2s ease;
    font-family: var(--font-secundaria);
}

.form-button:hover {
    background-color: #2e526b;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}


/* QUERYS */

@media (max-width: 903px) {
    .iframe-div, .form-div{
        width: 100%;
    }
    .form-input{
        width: 350px;
    }
}

@media (max-width: 834px) {
    .form-container{
    flex-direction: column-reverse;
    }
    .form-div{
        padding: 40px 0;
    }
    .form-iframe{
        height:205px !important; 
    }
    .iframe-div{
        height: 205px;
    }
    .form-input{
        width: 400px;
    }
}

@media(max-width: 414px){
    .form{
        width: 95%;
    }
    
    .form-input, .textarea{
        width: 100%;
    }
}

