.form-container{
    background-color: #5E7F79;
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 400px;
}

.iframe-div, .form-div{
    width: 50%;
}

.form-div{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

<<<<<<< HEAD
/* h2, div form textarea, .form-input{
    border-left: 2px solid #D9A441;
    border-bottom: 0px;
    border-right: 0px;
    border-top: 0px;
=======
.h4-form{
    border: none;
    border-left: 2px solid var(--color-destacar);
    padding-left: 10px;
    font-size: 22px;
    margin-top: 25px;
    margin-bottom: 10px;
    font-family: var(--font-principal);
    font-weight: 100;
>>>>>>> 75550e5381029ca0f80b9bad38681d83ab6e83d2
    color: white;
}

.textarea, .form-input{
    border: none;
    border-left: 2px solid var(--color-destacar);
    font-size: 16px;
    text-align: center;
    width: 400px;
<<<<<<< HEAD
} */

/* h2{
    padding-left: 10px;
    font-size: 22px;
    text-align: start;
    margin-top: 25px;
    margin-bottom: 10px;
} */

div form textarea{
=======
    font-family: var(--font-secundaria);
}

.textarea{
>>>>>>> 75550e5381029ca0f80b9bad38681d83ab6e83d2
    background-color: #223B4F;
}

.form-input{
    background-color: #223B4F;
    height: 30px;
}

input::placeholder, textarea::placeholder {
    color: white;
}

.form-button{
    width: 90px;
    height: 35px;
    padding: 0;
    margin: 0;
    cursor: pointer;
    background-color: #223B4F;
    border-left: 2px solid var(--color-destacar);
    color: white;
    border-bottom: 0px;
    border-right: 0px;
    border-top: 0px;
    margin-bottom: 10px;
    transition: all 0.2s ease;
}

.form-button:hover {
    background-color: #2e526b;
}

/* QUERYS */

@media (max-width: 903px) {
    .iframe-div, .form-div{
        width: 100%;
    }
}

@media (max-width: 834px) {
    .form-container{
    flex-direction: column-reverse;
    height: 800px;
    }
    .form-iframe{
        height:205px !important; 
    }
    .iframe-div{
        height: 205px;
    }
}

@media(max-width: 414px){
    .h4-form, .form-input, .textarea{
        width: 100%;
    }
}