.form-container{
    background-color: #5E7F79;
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 400px;
}

.iframe-div, .form-div{
    width: 50%;
}

.form-div{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* h2, div form textarea, .form-input{
    border-left: 2px solid #D9A441;
    border-bottom: 0px;
    border-right: 0px;
    border-top: 0px;
    color: white;
    font-size: 16px;
    text-align: center;
    width: 400px;
} */

/* h2{
    padding-left: 10px;
    font-size: 22px;
    text-align: start;
    margin-top: 25px;
    margin-bottom: 10px;
} */

div form textarea{
    background-color: #223B4F;
}

.form-input{
    background-color: #223B4F;
    height: 30px;
}

input::placeholder, textarea::placeholder {
    color: white;
}

.form-button{
    width: 90px;
    height: 35px;
    padding: 0;
    margin: 0;
    cursor: pointer;
    background-color: #223B4F;
    border-left: 2px solid #D9A441;
    color: white;
    border-bottom: 0px;
    border-right: 0px;
    border-top: 0px;
    margin-bottom: 10px;
    transition: all 0.2s ease;
}

.form-button:hover {
    background-color: #2e526b;
}
