
.quien-soy{
    background-color: var(--color-secundario);
    margin: var(--margin-section);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.quien-soy-contenedor{
    max-width: var(--rowWidth);   
    margin: auto;     
    padding: 70px 40px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.quien-soy-contenedor figure{
    z-index: 100;
}
.foto-perfil{
    width: 400px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    z-index: 100;
    
}
.quien-soy-contenido{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--color-texto);
}
.quien-soy-contenido h2{
    font-family: var(--font-principal);
    font-size: 33px;
    margin-bottom: 10px;
    border-left: 3px solid var(--color-destacar);
    padding-left: 15px;
}
.quien-soy-contenido p{
    font-family: var(--font-secundaria);
    font-size: 15px;
    z-index: 100;
    text-wrap: pretty;
}
.nube-i{
    position: absolute;
    bottom: 200px;
    left: 0;
    width: 100px;
    z-index: 1;
    overflow: hidden;
}
.nube-d{
    position: absolute;
    bottom: 70px;
    right: 0;
    width: 100px;
    z-index: 1;
    overflow: hidden;
}
.nube-d figure img, .nube-i figure img{
    width: 100%;
    height: auto;
    object-fit: contain;
}
@media screen and (max-width: 1100px) {
    .quien-soy-contenedor{
        flex-direction: column;
    }
    .quien-soy-contenido{
        width: 80%;
    }
    .nube-i{
        bottom: 300px;
    }
}
@media screen and (max-width: 750px) {
    .quien-soy-contenido {
        width: 90%;
    }
}
@media screen and (max-width: 550px) {
    .foto-perfil {
        width: 100%;
    }
    .quien-soy-contenido {
        width: 100%;
    }
    .nube-i{
        bottom: 40%;
    }
    .nube-d{
        width: 80px;
        bottom: 10px;
        right: 0;
    }
}
@media screen and (max-width: 350px) {
    .quien-soy-contenedor {
    padding: 70px 20px;
    gap: 20px;
}
}