/* @group Globals
------------------------------------ */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--color-fondo);
}

:root {
    --rowWidth: 1400px;
    --font-secundaria: "inter", sans-serif;
    --font-principal:"lora", sans-serif;

    --color-fondo: #B0B7B6;
    --color-principal: #223B4F;
    --color-secundario: #5E7F79;
    --color-texto: #fff;
    --color-destacar: #D9A441;
    
    --margin-section: 45px 0; 
}

html {
    scroll-behavior: smooth;
}
p{
    text-wrap: pretty;
}


/* @end */
